.headerTitle {
  display: flex;
  flex-direction: column;
}

.first {
  position: absolute;
  margin-top: 9%;
  margin-bottom: 10px;
  font-size: 60px;
  padding: 5px;
  left: 13%;
  color: aliceblue;
  font-family: "Lora", sans-serif;
}

.second {
  position: absolute;
  margin-top: 14.5%;
  left: 16%;
  font-size: 25px;
  color: aliceblue;
  font-family: cursive;
}

.headerImage {
  width: 100%;
  height: 400px;
}
