.header {
  position: relative;
}

.header img {
  width: 100%;
  height: auto;
  max-height: 60vh;
}

.headerTitle {
  color: #fff;
  position: absolute;
  font-family: "lora", sans-serif;
  top: 28%;
  left: 6%;
}

.headerTitle h1 {
  color: #fff;
  font-size: 5vw;
}

.headerTitle p {
  color: #fff;
  font-size: 2.5vw;
  margin-left: 15px;
}
